body {
	margin: 0;
	background-color:  #212f3d;
	background-image: url(imgbackground.jpg);
	background-repeat: no-repeat;
  background-position: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000 ;
  opacity: 0.7;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 25px 20px;
  text-decoration: none;
}

li a:hover {
  color: rgb(156, 151, 151);
}
footer{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:  #000000 ;
   opacity: 0.7;
   color: white;
   text-align: center;
   padding: 2%;
}
.container {
  margin-left:25%;
  padding: 5%;
}
.article-welcome {
  background-color:white;
  width: 50%;
  opacity: 0.7;
  color: #000000;
  padding: 1%;
  float: left;
}
.article-welcome:hover {
  background-color:whitesmoke;
}
.list-article {
  background-color: white;
  opacity: 0.7;
  width: 15%;
  padding: 1%;
  float: left;
  margin-left:2%;
}
h2 {
  color:green;
}
h3 {
  color:green;
}